--extra-index-url https://download.pytorch.org/whl/cu124
Pillow
numpy
torch
onnxruntime-gpu
peft>=0.13.0
transformers>=4.36
gradio==6.7.0
pydantic==2.8.2
pyfluidsynth
tqdm
huggingface_hub
